var sub = function(str, start, end) {
  return str.substring(start, end)
}

var split = function(str, p) {
  return str.split(p)
}
// 2019-12-30 17:24:12=>2019/12/30
var formatDate = function(str) {
  var date = str.substring(0, 9)
  return date.split("-").join("/")
}

var toFixed = function(str, num) {
  if (typeof str == 'string') {
    return Number(str).toFixed(num)

  } else {
    return str.toFixed(num)

  }
}

var includes = function(arr, item) {
  // console.log("数组", arr, arr.indexOf(item))
  // console.log("shibushi",typeof(arr))
var isTrue;
  for(var i = 0 ;i<arr.length;i++){
    if(arr[i]==item){
      console.log("存在",arr[i])
      isTrue= 1
    }else{
      console.log("不存在",)

      isTrue= 0
    }
  }

  return isTrue;
  // console.log("index",item)
  // return arr.includes(item)
}

module.exports = {
  sub: sub,
  split: split,
  formatDate: formatDate,
  toFixed: toFixed,
  includes: includes
};