var sub = function(str, start, end) {
  return str.substring(start, end)
}

var split = function(str, p) {
  return str.split(p)
}
// 2019-12-30 17:24:12=>2019/12/30
var formatDate = function(str) {
  var date = str.substring(0, 9)
  return date.split("-").join("/")
}

var toFixed = function(str, num) {
  if (typeof str == 'string') {
    return Number(str).toFixed(num)
  } else {
    return str.toFixed(num)
  }
}

var floorName = function (floor) {
  console.log("floor",floor)
  if (floor >= 1 && floor < 5) {
    return '低层'
  } else if (floor >= 5 && floor < 10) {
    return '中层'
  } else if (floor >= 10) {
    return '高层'
  }
}

var timeToZn=function(str){
  var time= str.substring(0,9);
  var arr = time.split("-");
  return arr[0]+'年'+arr[1]+"月"+arr[2]+"日"

}

module.exports = {
  sub: sub,
  split: split,
  formatDate: formatDate,
  toFixed: toFixed,
  floorName: floorName,
  timeToZn: timeToZn
};